.homePageContainer {
    .mainImg {
        background-image: url('../../images/mainPage.png'); 
        background-size: cover; 
        background-position: center; 
        background-repeat: no-repeat; 
        height: 65vh; 
        position: relative; 
        text-align: center;
        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.4); 
            z-index: 1; 
        }

        /* Content inside this div will be above the overlay */
        div {
            position: relative;
        }
        span {
            padding: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            position: relative;
            z-index: 2; 
        }

        span h1, span h4 {
            color: white; 
        }

    }



    div{
        padding: 0;
    }
    .stackInfoContainer{
        text-align: center;
        h1 {
            color: #1c2529; 
            padding-bottom: 25px;
            padding-top: 75px;
        }
    }
    .stackInfoContainerMobile{
        display: none;
    }

    .programInfoContainer{
        h1 {
            text-align: center; 
            padding-top: 75px;
        }
        h3{
            text-align: center; 
            padding-bottom: 25px;
        }
        .programContainer{
            display: flex;
            justify-content: space-around;
            align-items: center;
            h4{
                padding-top: 25px;
                margin: 0;
            }
            .program{
                background-color: #1C252A;
                border-radius: 12px;
                text-align: center;
                display: flex;
                flex-direction: column;
                justify-content: center;
                color: white;
                
                .programInfo{
                    border: 3px solid #fdd05a;
                    border-radius: 25px;
                    text-align: left;
                    display: flex;
                    gap: 1.5rem;
                    align-items: center;
                    padding: 0px 25px 25px;
                    margin: 25px 45px 45px;
                    i{
                        color: white;
                        font-size: 67px;
                    }
                    p{
                        margin: 0;
                        line-height: 2;
                    }
                }

            }
        }
    }

}




@media only screen and (max-width: 767px) {
    
    .homePageContainer{
        .stackInfoContainer{
            display: none;
        }
        .stackInfoContainerMobile {
            display: block; 
        }

        .mainImg {
            height: 35vh;
            text-align: center;
            position: relative;
        }

        h1 {
            text-align: center;
            padding-bottom: 5px;
            padding-top: 25px;
        }

        .programInfoContainer{
            h1 {
                
                padding-top: 25px;
            }
            h3{
                padding-bottom: 15px;
            }
            .programContainer{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 1.5rem;
                .program{
                    border-radius: 8px;
                    text-align: center;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    
                    .programInfo{
                        border: 2px solid #fdd05a;
                        border-radius: 12px;
                        text-align: left;
                        padding: 0px 12px 12px;
                        margin: 12px 20px 20px;
                        i{
                            display: none;
                        }
                        p{
                            margin: 0;
                        }
                    }
    
                }
            }
        }
    }

}

@media only screen and (max-width: 1200px) {
    .homePageContainer{

        .mainImg {
            height: 35vh;
        }

        .programInfoContainer{
            h1 {
                
                padding-top: 25px;
            }
            h3{
                padding-bottom: 15px;
            }
            .programContainer{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 1.5rem;
            }
        }
    }
}